Repository guardian360/quickscan-wp-plugin: changes, and which pre-commit hooks are due for each by the changed paths.
All: phpcs-fix, phpcs-check, phpstan, psalm, eslint-fix, prettier-fix, composer-audit

.pre-commit-config.yaml:

repos:
  # PHP Code Standards and Linting
  - repo: local
    hooks:
      - id: phpcs-fix
        name: Fix PHP Coding Standards
        entry: composer run phpcs:fix
        language: system
        files: \.php$
        pass_filenames: false

      - id: phpcs-check
        name: Check PHP Coding Standards
        entry: composer run phpcs
        language: system
        files: \.php$
        pass_filenames: false

  # PHP Static Analysis
  - repo: local
    hooks:
      - id: phpstan
        name: PHPStan Static Analysis
        entry: composer run phpstan
        language: system
        files: \.php$
        pass_filenames: false

      - id: psalm
        name: Psalm Security Analysis
        entry: composer run psalm
        language: system
        files: \.php$
        pass_filenames: false

  # JavaScript/CSS Linting and Formatting
  - repo: local
    hooks:
      - id: eslint-fix
        name: Fix JavaScript with ESLint
        entry: npm run lint:fix
        language: system
        files: \.(js)$
        pass_filenames: false

      - id: prettier-fix
        name: Format with Prettier
        entry: npm run format
        language: system
        files: \.(js|css|scss)$
        pass_filenames: false

  # Generic file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: trailing-whitespace
        exclude: \.min\.(js|css)$
      - id: end-of-file-fixer
        exclude: \.min\.(js|css)$
      - id: check-yaml
      - id: check-json
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

  # Security Checks
  - repo: local
    hooks:
      - id: composer-audit
        name: Composer Security Audit
        entry: composer audit
        language: system
        files: composer\.(json|lock)$
        pass_filenames: false

  # Prevent commits to main branch
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch
        args: ['--branch', 'main', '--branch', 'master']
        stages: [commit]

# Global settings
default_stages: [commit]
fail_fast: false

feat: upgrade password encryption to military-grade AES-256-GCM with authenticated encryption
  quickscan-connector.php
Due: phpcs-fix, phpcs-check, phpstan, psalm

fix: align scan results display with quickscan.guardian360.nl format
  assets/js/frontend.js
  includes/class-results-formatter.php
  quickscan-connector.php
  templates/start-scan.php
Due: phpcs-fix, phpcs-check, phpstan, psalm, eslint-fix, prettier-fix

refactor: remove non-existent scan type options and improve frontend formatting
  assets/js/frontend.js
  blocks/security-scanner/block.json
  blocks/security-scanner/index.compiled.js
  blocks/security-scanner/index.js
  includes/class-results-formatter.php
  languages/quickscan-connector.pot
  quickscan-connector.php
  templates/shortcode.php
  templates/start-scan.php
Due: phpcs-fix, phpcs-check, phpstan, psalm, eslint-fix, prettier-fix

ci: implement conventional commit workflow targeting staging
  .github/workflows/conventional-commits.yml
  .github/workflows/pr-automation.yml
  .github/workflows/wordpress-ci.yml
Due: none

ci: implement WordPress-specific continuous delivery workflow
  .release-please-manifest.json
  commitlint.config.js
  release-please-config.json
Due: eslint-fix, prettier-fix

fix: resolve WordPress 6.7+ compatibility issues and GitHub updater errors
  includes/class-github-updater.php
  quickscan-connector.php
Due: phpcs-fix, phpcs-check, phpstan, psalm

fix: resolve WordPress 6.7+ early translation loading warnings
  quickscan-connector.php
Due: phpcs-fix, phpcs-check, phpstan, psalm

fix: eliminate all early translation loading sources for WordPress 6.7+
  quickscan-connector.php
Due: phpcs-fix, phpcs-check, phpstan, psalm

fix: integrate with correct Quickscan API endpoints for email functionality
  quickscan-connector.php
Due: phpcs-fix, phpcs-check, phpstan, psalm

fix: remove incompatible CI/CD workflows and clean up branch references
  .github/workflows/conventional-commits.yml
  .github/workflows/pr-automation.yml
  .github/workflows/wordpress-ci.yml
Due: none

chore: update release-please manifest to version 1.0.1
  .release-please-manifest.json
Due: none

docs: add security vulnerability disclosure policy
  SECURITY.md
Due: none

docs: add CHANGELOG.md to bootstrap release-please
  CHANGELOG.md
Due: none

fix: add proper nonces to credential management buttons
  templates/settings.php
Due: phpcs-fix, phpcs-check, phpstan, psalm

feat: improve credential management and update Basic vs Pro messaging
  quickscan-connector.php
  templates/account-request.php
  templates/dashboard.php
Due: phpcs-fix, phpcs-check, phpstan, psalm

fix: hide credential buttons when requesting new account
  templates/settings.php
Due: phpcs-fix, phpcs-check, phpstan, psalm

refactor: simplify settings page by removing developer-only options
  templates/settings.php
Due: phpcs-fix, phpcs-check, phpstan, psalm

feat: enforce attribution and add logo/text choice with GitHub links
  quickscan-connector.php
  templates/dashboard.php
  templates/settings.php
  templates/start-scan.php
  uninstall.php
Due: phpcs-fix, phpcs-check, phpstan, psalm

fix: remove inappropriate frontend upgrade message and add attribution
  assets/js/frontend.js
Due: eslint-fix, prettier-fix

feat: increase attribution logo size to 200px width for better visibility
  assets/js/frontend.js
  templates/dashboard.php
  templates/start-scan.php
Due: phpcs-fix, phpcs-check, phpstan, psalm, eslint-fix, prettier-fix

feat: add powered by text above logo and improve accessibility
  assets/js/frontend.js
  templates/dashboard.php
  templates/start-scan.php
Due: phpcs-fix, phpcs-check, phpstan, psalm, eslint-fix, prettier-fix

feat: update attribution links and comprehensively revise README
  README.md
  quickscan-connector.php
  templates/dashboard.php
  templates/settings.php
  templates/start-scan.php
Due: phpcs-fix, phpcs-check, phpstan, psalm

feat: add prominent download links and badge to README
  README.md
Due: none

fix: update Pro account request link to contact page
  README.md
Due: none

fix: replace API captcha with WordPress-side anti-spam validation
  assets/js/frontend.js
  quickscan-connector.php
Due: phpcs-fix, phpcs-check, phpstan, psalm, eslint-fix, prettier-fix

docs: add technical specification document
  TECHNICAL_SPECIFICATION.md
Due: none
